

.iii{
    background: no-repeat center/cover;
    box-sizing: border-box;
    overflow: hidden;
}

/* -------------------------------------------------------------------------------------------------------- */


.section_1{
    height: 100vh;
    background: no-repeat center/cover;

}

/* -------------------------------------------------------------------------------------------------------- */


.section_2{

    min-height: 400px;
}

/* -------------------------------------------------------------------------------------------------------- */

.section_3{
    min-height: 400px;
    box-sizing: border-box;
    overflow: hidden;
}

/* -------------------------------------------------------------------------------------------------------- */

.section_4{
    min-height: 600px;
}




.section_6{
    min-height: 150px;
}

/* -------------------------------------------------------------------------------------------------------- */


.section_7{
    min-height: 600px;
}

.section_7_div{
    min-height: 200px;
}

/* -------------------------------------------------------------------------------------------------------- */


.section_8{
    min-height: 400px;
}
.section_8 div{
    height: 200px;
}

/* -------------------------------------------------------------------------------------------------------- */



.section_9{
    min-height: 400px;
}

/* -------------------------------------------------------------------------------------------------------- */


.section_10{

min-height: 500px;

}


/* -------------------------------------------------------------------------------------------------------- */


footer{
    height: 200px;
}

/* -------------------------------------------------------------------------------------------------------- */
